<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= mail_to "irawati.susanto@gmail.com", "Ira Susanto", class: "text-white", id: "copyright-email" %></small>
  </div>
</footer>